<div class="container">
<div id="img-container">
  <img src="/assets/img/monkeyburger.jpg" alt="Burger Illustration" class="img-fluid">
</div>

<h1 id="title">Eat the Burger</h1>

<form id="submit-form" class="create-form">

  <div class="form-group">
    <input type="text" id="ca" name="name">
    <p id="instructions">Enter a burger you want to eat and click the "submit" button</p>
  </div>

  <button id="submit-btn" class="btn btn-dark btn-lg" type="submit">SUBMIT</button>
</form>

<div class="row"> 
  <div class="col col-lg-6">
<h4>BURGERS NOT EATEN</h4>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
        <h5>{{this.id}} {{burger_name}}</h5>
        <button class="change-devour-status btn btn-dark btn-sm" data-id="{{id}}" data-newdevour="{{devoured}}">DEVOUR IT</button>
        <button class="delete-burger btn btn-outline-secondary btn-sm" data-id="{{this.id}}">DELETE</button>
      </li>
    {{/unless}}
  {{/each}}
</ul>
</div>
<div id="devoured-div" class="col col-lg-6">
<h4>DEVOURED BURGERS</h4>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>
        <h5>{{this.id}} {{burger_name}}</h5>
        <button class="delete-burger btn btn-outline-secondary btn-sm" data-id="{{this.id}}">DELETE</button>
      </li>
    {{/if}}
  {{/each}}
</ul>
</div>

</div>
