
<div>
  {{!-- <img src="../public/assets/img/burger.png" alt="Burger Illustration"> --}}
</div>

<h1>Eat the Burger</h1>

{{!-- <h2>Cats that are not sleepy!</h2> --}}

<h2>Burgers not eaten!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
        {{burger_name}}
        <button class="change-devour-status btn btn-dark" data-id="{{id}}" data-newdevour="{{devoured}}">DEVOUR IT</button>
        <button class="delete-burger" data-id="{{this.id}}">DELETE</button>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers not eaten!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>
        {{burger_name}}
        <button class="delete-burger" data-id="{{this.id}}">DELETE</button>
      </li>
    {{/if}}
  {{/each}}
</ul>

<form class="create-form">

  <div class="form-group">
    <input type="text" id="ca" name="name">
    <p>Enter a burger you want to eat and click the "submit" button</p>
  </div>

  {{!-- <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div> --}}

  <button id="submit-btn" type="submit">SUBMIT</button>
</form>
